{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

</head>

<body>
{% block content %}
    <h1 style="text-align:center">About Us</h1>
<div style="height:720px;widht:100%;background:#add8e6;border-radius:20px">
    <div style="height:720px;width:30%;float:left">
        <table>
            <tr>
                <td>
                    <img src="static/img/pat.png" height="720" width="100%" style="border-radius:20px 0px 0px 20px">
                </td>
            </tr>

        </table>
    </div>


    <div style="height:720px;width:70%;float:right;background:#add8e6;font-size:24px;border-inset;border-radius:0px 20px 20px 0px;padding:2%;color:#808080">

    The Sympchec Medical Team works closely with a team of over 100 nationwide doctors and health experts across a
        broad range of specialty areas to ensure Sympchec's content is up to date, accurate, and helps you live a
        healthier life.<br><h2>What We Do For Our Users</h2> Sympchec has created an organization that we believe fulfills the
        promise of health information on the Internet.
        And that, we believe, requires dedicated, full-time staff professionals with state-of-the-art expertise in:<br>

        -Health news for the public<br>
        -Creating and maintaining up-to-date medical reference content &nbsp;databases<br>
        -User experience<br>
        -Interactive tools<br>


        As serious as we are about credibility, we also know that at times, health information can and should be
        engaging, exciting, and entertaining.

        We pride ourselves in knowing our audience's needs and delivering the most appropriate experience.
        Our mission is to fulfill all these needs in the most appropriate ways possible.

        We are committed to improving our site.
     </div>
</div>

{% endblock %}
</body>
</html>
