{% extends 'basic.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>

    {% block content %}
    {% csrf_token %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
              <h1 style="text-align:center">Contact Form</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                <div class="contact_text">
                    <form action='contact' method="post" autocomplete="off">
                        {% csrf_token %}
                        <label for="firstname"><h3>First Name</h3></label><br>
                        <input type="text" id="firstname" name="firstname" placeholder="First Name" required style="height:50px;width:70%;border-radius:5px;margin-bottom:10px;margin-top:-10px;"><br>
                        <label for="lastname"><h3>Last Name</h3></label><br>
                        <input required type="text" id="lastname" name="lastname" placeholder="Last Name" style="height:50px;width:70%;border-radius:5px;margin-bottom:10px;margin-top:-10px;"><br>
                        <label for="email"><h3>Email</h3></label><br>
                        <input required type="email" id="email" name="email" placeholder="Email" style="height:50px;width:70%;border-radius:5px;margin-bottom:10px;margin-top:-10px;"><br>
                        <label for="subject"><h3>Subject</h3></label><br>
                        <input required type="text" id="subject" name="subject" placeholder="Subject" style="height:50px;width:70%;border-radius:5px;margin-bottom:10px;margin-top:-10px;"><br>
                        <label for="feedback"><h3>Feedback</h3></label><br>
                        <textarea id="feedback" name="feedback" placeholder="Write Your Feedback" style="height:200px;width:70%;border-radius:5px;margin-bottom:10px;margin-top:-10px;">
                        </textarea><br>
                        <input type="Submit" value="&nbsp;&nbsp;Submit&nbsp;" style="margin-bottom:10px;">
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
