{% extends 'basic.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diagnose</title>
</head>
<body>
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <div class="diagnose_back" style="background-image: url('static/img/diag.png');"  >
                <h1 class="h1diag">Symptom Checker</h1>
                <h4> Identify possible conditions related to your symptoms.</h4>
                <form method="post" action="diagnoseme" autocomplete="off" class="diagform">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4">
                            <div class="diagage">
                                <h2>Age</h2>
                                <input type="text" name="age" required style="border-radius:5px;height:50px;width:70px;font-size:20px;text-align:center">
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
                            <div class="diaggen">
                                <h2>Gender</h2>
                                <select style="width:130px;height:50px" id="gender" name="gender">
                                <option id="male" name="male">
                                Male
                                </option>
                                <option id="female" name="female">
                                    Female
                                </option>
                                </select>
                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-6 col-lg-6 col-md-6">
                          <input type="submit" value="Continue  >" class="diagcon">
                        </div>

                    </div>

                </form>
            </div>

        </div>
    </div>
</div>



{% endblock %}

</body>
</html>
