{% extends 'basic.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

</head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                <div class="log_head">
                    <b>Login</b>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                <div class="login_form">
                    <form action='login' method="post" autocomplete="off"  class="log_form" >
                                 {% csrf_token %}
                            <input type="text" id="user" name="username" placeholder="User Name" class="log_id"   required><br>
                            <input type="password" id="pword" name="password" placeholder="Password" class="log_pass" required ><br>
                            <input type="Submit" value="&nbsp;&nbsp;Sign In&nbsp;&nbsp;" style="padding-left:10px;padding-right:10px;">

                    </form>
                </div>
            </div>
        </div>
    </div>


    <div>
        {% for message in messages%}
        <h3>
            {{message}}
        </h3>
        {% endfor%}
    </div>
{% endblock %}
</body>
</html>
