.slider_area{
	height:700px;
	width:100%;

background-repeat: no-repeat;
	}
.slider_text{
padding-top:20%;}
.diagnose{
font-size:20px;
border-radius:15px;
height:70px;width:160px;
border:solid;color:skyblue;
text-align:center;background-color:white;padding-top:13px;}

a:hover {
  color: blue;
}
