.log_head{
text-align:center;
font-size:40px;}
.login_form{
text-align:center;
margin-left:35%;
border:solid;border-radius:10px;
height:200px;width:400px;
padding-top:30px;

}
.log_form{
text-align:center;

}
.log_id{
height:50px;width:300px;border:inset;border-radius:5px;}

.log_pass{
height:50px;width:300px;border:inset;border-radius:5px;margin-top:5px;margin-bottom:5px;}
